body {
  background-color: #f4f7f6;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.contenedor {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

h1 {
  color: #333;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

button.btn-agregar {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.contador {
  text-align: center;
  color: #666;
  margin-bottom: 1rem;
}

.btn-borrar-todo {
  width: 100%;
  margin-top: 20px;
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

.btn-borrar-todo:hover {
  background-color: #000;
}

.contador.lleno {
  color: red;
  font-weight: bold;
}

.input-busqueda {
  width: 70%;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
